@import '../../styles.scss';
.temperature {
  font-size: 6em;
}

.weather-icon {
  font-size: 6em;
}

.today-card {
  background: $accent;
}

.row {
  display: flex;
  justify-content: space-between;
}

mat-card-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > span {
    display: flex;
    align-items: center;
  }
}
