<div class="wrapper">
  <mat-form-field>
    <input matInput placeholder="Location" value="Dresden" #searchInput />
  </mat-form-field>
  <button mat-button (click)="lookUpWeather(searchInput.value)" color="primary">
    Go
  </button>

  <ng-container *ngIf="weatherData">
    <app-currently
      [location]="location.name"
      [summary]="weatherData.currently.summary"
      [temperature]="
        weather.formatTemperature(weatherData.currently.temperature)
      "
      [humidity]="weatherData.currently.humidity"
      [precipProb]="weatherData.currently.precipProbability"
    ></app-currently>

    <app-forecast [forecasts]="forecasts"></app-forecast>
  </ng-container>
</div>
