<div class="wrapper">
  <mat-form-field>
    <input matInput placeholder="Location" value="Dresden" #searchInput />
  </mat-form-field>
  <button mat-button (click)="lookUpWeather(searchInput.value)">Go</button>

  <ng-container *ngIf="weatherData">
    <mat-card class="today-card" color="primary">
      <mat-card-title>{{ location.name }}</mat-card-title>
      <mat-card-subtitle>{{ weatherData.currently.summary }}</mat-card-subtitle>
      <div class="row">
        <mat-icon class="weather-icon">cloud</mat-icon>
        <span class="temperature"
          >{{
            weather.formatTemperature(weatherData.currently.temperature)
          }}°</span
        >
      </div>
    </mat-card>

    <app-forecast [forecasts]="forecasts"></app-forecast>
  </ng-container>
</div>
