<div class="wrapper">
  <mat-form-field>
    <input matInput placeholder="Location" value="Dresden" #searchInput />
  </mat-form-field>
  <button mat-button (click)="lookUpWeather(searchInput.value)" color="primary">
    Go
  </button>

  <ng-container *ngIf="weatherData && !loading">
    <app-currently
      [location]="location.name"
      [summary]="weatherData.currently.summary"
      [temperature]="weatherData.currently.temperature | temperature"
      [humidity]="weatherData.currently.humidity"
      [precipProb]="weatherData.currently.precipProbability"
    ></app-currently>

    <app-forecast
      [forecasts]="daily.data | slice: 0:5"
      [summary]="daily.summary"
    ></app-forecast>
  </ng-container>

  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
